body  {
    background-image: url("IMG_1351.JPG");
    background-color: #ffffff;
}

pre {
	color: black;
        font-weight: bold;
}

a {
	color: black;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: Oswald;
}

#time {
	font-weight: bold;	
}

.middle {
        position: absolute;
        top: 50%;
        margin-top: -200px;/* half of #content height*/
        left: 0;
        width: 100%;
}
	
	
