pre {
	color: black ;
}

a {
	color: black ;
	font-family: 'Roboto', sans-serif ;
	text-decoration: none ;
}

p {
	color: black ;
	font-family: 'Roboto', sans-serif ;
}

h1 {
	font-family: Oswald;
}

#time {
	font-weight: bold;
	
}
