pre {
	color: black;
}

a {
	color: black;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: Oswald;
}

#time {
	font-weight: bold;	
}

.middle {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
	
	
