html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "Source Code Pro", monospace;
  color: #cad3f5;
  background-color: #24273a;
  padding: 20px;
}

.header-bar{
  color: #c6a0f6;
  background-color: #1e2030;
  border: 2px solid #b7bdf8;
  margin: 5px;
  padding: 10px;
}

li {
  margin-left: 15px;
}

a {
  color: #74c7ec;
  text-decoration: none;
  transition-duration: 0.5s;
}
a:hover {
  color: #74c7ec;
  text-decoration: underline;
}
a:visted {
  color: #94e2d5;
  text-decoration: underline;
}

