html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0; 
	padding: 30px 50px; 
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	background: #000000;
	font-family: 'Source Code Pro', monospace;
        font-weight: 400;
	font-size: 18px;
	letter-spacing: 0px; 
	color: #ffffff;
}
pre {
	padding: 0;
	margin: 0 0 50px 0;
}
span {
	padding: 0;
	margin: 0 10px 0 0;
}
a {
	text-decoration: none;
	color: #ffffff;
	transition-duration: 0.5s;
}
a:hover {
	color: #ffffff;
	font-weight:500;
	text-decoration: underline;
}
p {
	padding: 0;
	margin: 10px 0 30px 0;
}
#logo {
}
#navbar {
}
.divider {
	margin: 0 5px;
}
