* {
	background: url("http://tse2.mm.bing.net/th?id=OIP.M211624313028f30e5042833364767ce3H0&w=269&h=180&c=7&qlt=90&o=4&pid=1.7") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.headings {
	font-family: Orbitron, Impact, sans-serif;
}

p {
	font-family: Oswald, sans-serif;
	font-size: 150%;
}
